In [27]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [28]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [29]:
# Get the columns and the rows that are not null.
pyber_data_df.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64

In [30]:
# Get the columns and the rows that are not null.
pyber_data_df.isnull().sum()

city            0
date            0
fare            0
ride_id         0
driver_count    0
type            0
dtype: int64

In [31]:
# Get the data types of each column.
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [32]:
# Get the unique values of the type of city.
pyber_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [33]:
# Get the columns and the rows that are not null.
pyber_data_df.count()

city            2375
date            2375
fare            2375
ride_id         2375
driver_count    2375
type            2375
dtype: int64

In [34]:
# Get the columns and the rows that are not null.
pyber_data_df.isnull().sum()

city            0
date            0
fare            0
ride_id         0
driver_count    0
type            0
dtype: int64

In [35]:
# Get the data types of each column.
pyber_data_df.dtypes

city             object
date             object
fare            float64
ride_id           int64
driver_count      int64
type             object
dtype: object

In [36]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [137]:
urban_cities_df = pyber_data_df[pyber_data_df["type"] == "Urban"]
urban_cities_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [120]:
# Create the Suburban and Rural city DataFrames.
suburban_cities_df = pyber_data_df[pyber_data_df["type"] == "Suburban"]
rural_cities_df = pyber_data_df[pyber_data_df["type"] == "Rural"]

In [38]:
#  1. Get the total rides for each city type

In [138]:
urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]
urban_ride_count.head()

type
Urban    1625
Name: ride_id, dtype: int64

In [139]:
suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]
suburban_ride_count.head()

type
Suburban    625
Name: ride_id, dtype: int64

In [140]:
rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]
rural_ride_count.sum()

125

In [46]:
# 2. Get the total drivers for each city type

In [169]:
urban_driver_count = urban_cities_df.groupby(["type"]).sum()["driver_count"]
urban_driver_count.sum()

36.67815384615385

In [170]:
suburban_driver_count = suburban_cities_df.groupby(["type"]).sum()["driver_count"]
suburban_driver_count.head()

type
Suburban    8570
Name: driver_count, dtype: int64

In [176]:
rural_driver_count = rural_cities_df.groupby(["type"]).sum()["driver_count"]
rural_driver_count.sum()

537

In [56]:
#  3. Get the total amount of fares for each city type

In [158]:
urban_fare_count = urban_cities_df.groupby(["type"]).sum()["fare"]
urban_fare_count.sum()

39854.380000000085

In [159]:
suburban_fare_count = suburban_cities_df.groupby(["type"]).sum()["fare"]
suburban_fare_count.sum()

19356.330000000013

In [164]:
rural_fare_count = rural_cities_df.groupby(["type"]).sum()["fare"]
rural_fare_count.sum()

4327.930000000002

In [99]:
#  4. Get the average fare per ride for each city type.

In [146]:
urban_avg_fare = urban_cities_df.groupby(["type"]).mean()["fare"]
urban_avg_fare.head()

type
Urban    24.525772
Name: fare, dtype: float64

In [177]:
suburban_avg_fare = suburban_cities_df.groupby(["type"]).mean()["fare"]
suruban_avg_fare.head()

NameError: name 'suruban_avg_fare' is not defined

In [152]:
rural_avg_fare = rural_cities_df.groupby(["type"]).mean()["fare"]
rural_avg_fare.head()

type
Rural    34.62344
Name: fare, dtype: float64

In [107]:
# 5. Get the average fare per driver for each city type.

In [155]:
urban_avg_fare = urban_cities_df.groupby(["driver_count"]).mean()["fare"]
urban_avg_fare.mean()

24.583096899703865

In [154]:
suburban_avg_fare = suburban_cities_df.groupby(["driver_count"]).mean()["fare"]
suburban_avg_fare.mean()

30.812144790993994

In [156]:
rural_avg_fare = rural_cities_df.groupby(["driver_count"]).mean()["fare"]
rural_avg_fare.mean()

33.34908448379351

In [178]:
#  6. Create a PyBer summary DataFrame.

In [179]:
# Import dependencies.
import matplotlib.pyplot as plt

In [180]:
# Get summary statistics.
urban_cities_df.describe()

              fare       ride_id  driver_count
count  1625.000000  1.625000e+03   1625.000000
mean     24.525772  4.873485e+12     36.678154
std      11.738649  2.907440e+12     20.075545
min       4.050000  1.458810e+10      3.000000
25%      14.550000  2.400244e+12     22.000000
50%      24.640000  4.711188e+12     37.000000
75%      34.580000  7.451579e+12     52.000000
max      44.970000  9.991538e+12     73.000000

In [113]:
#  7. Cleaning up the DataFrame. Delete the index name

In [182]:
#  8. Format the columns.

In [183]:
city_data_to_load = "Resources/data_man.csv"

In [181]:
# 1. Read the merged DataFrame

In [185]:
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

In [184]:
# 2. Using groupby() to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.

NameError: name 'New_data_frame' is not defined